
#header{
    margin: -8px;
    border: 1px solid black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
         background-color: #2D1152;
         height: 22px;
}
li{
    float: left;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 1px 15px;

}
li a:hover,.dropdown:hover .dropbtn {
text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    
}
.icons{
 margin-right: -10px;
 margin-left: 5px;
}
#logo{

  margin-top: 10px;
padding-top: 10px; 
padding-left: 50px;
}
#background{
    height: 500px;
    
    margin-top: 8px;
    margin-right: -8px;
    margin-left:  -8px;
    
}
#table{
  
}
#logoimg{
   
   margin-left: -28px;
}
.try{
   
   margin-top: -10;
}
#size{
    width: 600px;
    height: 30px;
    margin-left: -5px;
}
#searchicon{
   

}
#All{
   
   padding-top: 0;
  margin: 10px;
}
#size2{
    height: 31px;
    width: 60px;
    background: url("images/ser.png");
background-repeat: no-repeat;
text-align: center;
margin-left: 50px;
background-color: white;
margin-top: -2px;
}
.buttn{
     height: 35px;

background-color: #198FFF;
color: white;
border:1px solid #198FFF;

}
#home{
    text-decoration: none;
   
    
    position: absolute;
    top: 60px;
color: white;
}
#img{
margin-right: 2px;
margin-left:  78px;

}

#img2{
margin-right: 7px;
margin-left: 50px;


}
#contact{
    text-decoration: none;
    
    color: white;
    position: absolute;
    top: 60px;
}
#wheel{
    margin-left: 50px;
}

#header{
    margin-bottom: 0px;

}
 div .sidebar{
    
    margin-top: 20px;
    width: 80.7%;
    background-image: url("images/bar4.PNG");

    color: white;
    font-size: 16px;
   height: 30px;
 }
 li:hover{
color: blue;
 }

.align{
   margin-right:  200px;
    margin-left: 20px;
    
}
.align2{
    margin-right: 20px;
}
.align3{
    margin-left: 410px;
}
 #sidelist{
    min-width: 150px;
    max-width: 200px;
    height: 500px;
  
    overflow-y: scroll;
    color: snow;
}
.tdspacing{
    padding-top: 15px;
    padding-left:  15px;
    
}
.tdspacing2{
    padding-top: 15px;
   
}
#sidetable{
    
    text-decoration: none;
}
td a{
    text-decoration: none;
    color: white;
}
td a:hover{
    color: blue;
}
#Emailbox{
  width: 876px;
 
    height:  500px;
    
    position: absolute;
   right: 262px;
    top: 177px;
    overflow-y: scroll;
}
#gap{
    margin-top: 40px;
   
}
td p{
   
    margin: 0;
    padding: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
   min-width: 100%;
   background-image: url("images/bar2.PNG");
     background-size: 1000px;
    
}
p .testing{

margin-left: 49px;


}
#adjust{
    margin-top: 0;
}
p .paragraph{
    
    margin-left: 0px;
}
 p .edu{
    margin-left: 150px;
    
}
.edu2{
    margin-left: 120px;
}
body{
    background-image: url("images/yahoobackground2.jpg");
                                                                                                                                       
}
p.sideheading{
    padding-left: 10px;
       font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-image: url("images/bar.PNG");
     background-size: 900px;
     
}
.git{
    margin-left: 169px;
}
.gitdate{
    margin-left: 136;
}
.font{
    font-weight: lighter;
    margin-left: 10px;
    color: gray;
    
}
.nxtpara{
    margin-left: 126px;
}
.nxtpara2{
    margin-left: 111;
}
.gitdate2{
    margin-left: 125;
}